@import '../../styles/app.scss';

.pd-card.type__1 {
	position: relative;
	width: 25%;
	margin-bottom: 50px;
	padding: 0 15px;

	&:hover .pd-title {
		color: var(--color-primary);
	}

	@include tablet {
		width: 50%;
	}

	@include mobile {
		margin-bottom: 30px;
		padding: 0 7px;
	}

	.btn-add-cart {
		position: absolute;
		top: -20px;
		right: 20px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		height: 50px;
		width: 50px;
		background-color: var(--color-lighter);
		border: 2px solid var(--color-white);
		color: var(--color-heading);
		font-size: 20px;
		border-radius: 50%;
		transition: 0.3s;
		box-shadow: 0 16px 32px 0 rgb(103 103 103 / 6%);
		z-index: 1;

		&:hover {
			background-color: var(--color-primary);
			border-color: var(--color-primary);
			color: var(--color-white);
			box-shadow: 0 8px 16px 0 rgb(53 119 240 / 30%);
		}

		@include mobile {
			width: 35px;
			height: 35px;
			font-size: 14px;
		}
	}

	.card-content {
		position: relative;

		&::before {
			content: '';
			height: 70%;
			width: 100%;
			background-color: #f7f7f7;
			border-radius: 6px;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			transition: 0.3s;
		}

		&:hover {
			.pd-thumbnail img {
				transform: scale(0.9);
			}
		}
	}

	.card-info {
		margin: 0;
		padding: 40px 20px 20px;
		position: relative;

		@include mobile {
			padding: 30px 15px 20px;
		}
	}

	.pd-title {
		display: block;
		font-size: 20px;
		color: var(--color-heading);
		font-weight: 600;
		margin-bottom: 10px;
		transition: all 0.3s;

		&:hover {
			color: var(--color-primary);
		}

		@include mobile {
			font-size: 15px;
			margin-bottom: 0;
		}
	}

	.pd-rating {
		margin-top: 10px;
		font-size: 13px;

		@include mobile {
			margin-top: 5px;
			font-size: 12px;
		}

		.rating-icon {
			color: #ffdc60;
		}

		.rating-number {
			margin-left: 5px;
			font-weight: 500;
			color: #777777;
		}
	}

	.pd-thumbnail {
		position: relative;
		display: block;
		width: 80%;
		margin: 0 auto;

		a {
			display: block;
		}

		img {
			border-radius: 6px;
			transition: all 0.3s;
		}
	}
}

.pd-card.type__2 {
	padding: 10px 0;
	&:hover {
		.thumbnail-img > img {
			transform: scale(1.1);

			@include mobile {
				transform: unset;
			}
		}

		.hover-action {
			bottom: 30px;
			opacity: 1;
			visibility: visible;
			transition-delay: 0.2s;

			@include tablet {
				bottom: 0;
			}
		}
	}

	.pd-thumbnail {
		position: relative;
		display: block;
	}

	.thumbnail-img {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 6px;
		width: 100%;
		height: 300px;
		overflow: hidden;
		position: relative;

		img {
			border-radius: 6px;
			max-width: 90%;
			transition: 0.3s;
			max-height: 90%;
		}

		@include mobile {
			height: unset;
		}
	}

	.thumbnail-badget {
		position: absolute;
		top: 20px;
		right: 10px;
		z-index: 2;
		background-color: var(--color-primary);
		line-height: 1;
		padding: 6px 10px 5px;
		font-size: 12px;
		font-weight: 700;
		color: #fff;
		border-radius: 4px;
		box-shadow: 0 8px 16px 0 rgb(53 119 240 / 30%);
	}

	.hover-action {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 0;
		visibility: hidden;
		transition: 0.5s;

		@include tablet {
			margin-top: 10px;
			position: relative;
			opacity: 1;
			visibility: visible;
		}

		@include mobile {
			margin-top: 20px;
		}
	}

	.card-action {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: -5px;

		li {
			margin: 5px;

			a,
			button {
				height: 40px;
				line-height: 42px;
				border-radius: 4px;
				text-align: center;
				transition: all 0.3s;
				font-size: 14px;
				box-shadow: 0 16px 32px 0 rgb(0 0 0 / 6%);
				position: relative;
				z-index: 1;
			}
		}

		.wishlist > a {
			width: 40px;
			@include button-style(#fff, var(--color-heading));
		}

		.add-to-cart > button {
			padding: 0 18px;
			font-weight: 700;
			@include button-style(var(--color-secondary), #fff);

			@include mobile {
				padding: 0 30px;
			}
		}

		.quick-view > a {
			width: 40px;
			@include button-style(#fff, var(--color-heading));
		}
	}

	.card-content {
		margin-top: 25px;
		position: relative;
		margin-bottom: 30px;
		text-align: center;

		.pd-title {
			font-size: 16px;
			font-weight: 500;
			margin-bottom: 10px;

			a {
				transition: all 0.3s;
				color: var(--color-heading);

				&:hover {
					color: var(--color-primary);
				}
			}
		}
	}
}

.pd-price {
	span {
		font-size: 16px;
		margin-right: 8px;
		font-weight: 700;
		color: var(--color-heading);

		@include mobile {
			font-size: 12px;
			line-height: 16px;
		}
	}

	.current {
		color: var(--color-pinterest);
	}

	.old {
		color: #d6d6d6;
		text-decoration: line-through;
	}
}
