@import '../../../styles/app.scss';

.banner-box-wrap {
	background: #f7f7f7;
	border-radius: 6px;
	padding: 20px 50px;
	position: relative;
	margin: 15px 0;
	z-index: 1;
	overflow: hidden;

	&::after {
		content: '';
		height: 250px;
		width: 250px;
		background: linear-gradient(315deg, #d2d2d2 15%, #fcfcfc 60%);
		border-radius: 50%;
		position: absolute;
		top: 20%;
		left: 15%;
		z-index: -1;
		box-shadow: 15px 15px 55px 3px rgb(192 188 187 / 66%);
		animation: bubble 1s ease-in infinite alternate;
	}

	&::before {
		content: '';
		position: absolute;
		top: calc(20% + 250px + 25px);
		left: calc(15% + 120px);
		width: 25px;
		height: 30px;
		border-radius: 50%;
		transform: scaleX(6.5);
		background: #d2d2d2;
		filter: blur(5px);
		z-index: -1;
		box-shadow: 0 0 25px 10px rgb(0 0 0 / 30%);
		animation: shadow 1s ease-in infinite alternate;
	}

	@keyframes bubble {
		0% {
			transform: translateY(-20px);
		}
		90% {
			transform: translateY(30px);
		}
		100% {
			transform: translateY(50px) scaleX(1.15);
		}
	}

	@keyframes shadow {
		0% {
			width: 35px;
		}
		90% {
			width: 10px;
		}
		100% {
			width: 3px;
			height: 5px;
		}
	}
}

.slide-item__wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
}

.slide-content {
	flex: 1;

	.subtitle {
		font-size: 14px;
		font-weight: 700;
		line-height: 1;
		display: flex;
		align-items: center;
		margin-bottom: 16px;
		color: var(--color-secondary);
		.icon {
			height: 24px;
			width: 24px;
			line-height: 24px;
			border-radius: 50%;
			font-size: 12px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-right: 10px;
			background-color: var(--color-secondary);
			color: #fff;
			svg {
				font-size: 16px;
			}
		}
	}

	.title {
		letter-spacing: -0.03em;
		margin-bottom: 50px;
		font-size: 55px;
		line-height: 1.2;
	}

	.shop-btn {
		display: inline-flex !important;
		gap: 10px;
		align-items: center;
		font-weight: 700;
		padding: 16px 38px;
		@include button-style(#fff, var(--color-heading));
	}
}

.slide-thumb {
	flex: 1;
	text-align: right;
	margin-left: 30px;

	img {
		display: inline-block;
		min-height: 460px;
		max-height: 460px;
		object-fit: contain;
		max-width: 100%;
		height: auto;
		animation: floating 3s ease-in-out infinite alternate;
	}
}

@keyframes floating {
    0%{
       transform: translateY(0);
    }
	50%{
		transform: translateY(-20px);
	}
	100%{
		transform: translateY(10px);
    }
}


.custom-pagi{
	display: block;

	span{
		opacity: 1;
		width: 20px;
		height: 4px;
		background: #d2d2d2;
		cursor: pointer;
		border-radius: 5px;
		transition: all 0.7s ease-in-out;
		// transform-origin: center;
	}
	
	
	.custom-pagi__bullet-active{
		width: 35px;
		background: var(--color-heading);
	}
}