@import '../../styles/app.scss';

.details {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	justify-content: center;
}

.col {
	width: 50%;
	padding: 0 15px;

	@include mobile {
		width: 100%;
		padding: 0;
	}
}
